net "a[0]" loc = "R17";
net "a[1]" loc = "N17";
net "a[2]" loc = "L13";
net "a[3]" loc = "L14";
net "a[4]" loc = "K17";
net "a[5]" loc = "K18";
net "b[0]" loc = "H18";
net "b[1]" loc = "G18";
net "b[2]" loc = "B18";
net "b[3]" loc = "D18";
net "b[4]" loc = "E18";
net "b[5]" loc = "H13";
net "S[0]" loc = "R4";
net "S[1]" loc = "F4";
net "S[2]" loc = "P15";
net "S[3]" loc = "E17";
net "S[4]" loc = "K14";
net "S[5]" loc = "K15";
net "S[6]" loc = "J15";
net "c_out" loc = "J14";